@model Product
@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Create Product";
}
<form method="post" asp-action="Create">
<div class="form-group">
    <label asp-for="Name">Name: </label>
    <input asp-for="Name" class="form-control"/>
</div>
    <div class="form-group">
        <label asp-for="Price">Price: </label>
        <input asp-for="Price" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
